## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
# Your code here

sample_list_1 = random.sample(range(0, 100), 80)
print(sample_list_1)

[91, 75, 82, 64, 10, 56, 40, 8, 51, 99, 20, 5, 48, 80, 71, 72, 23, 29, 92, 7, 81, 43, 0, 52, 59, 63, 33, 66, 83, 61, 95, 24, 19, 14, 45, 70, 30, 89, 53, 69, 55, 34, 84, 28, 13, 37, 87, 90, 68, 67, 74, 96, 22, 27, 16, 97, 26, 2, 73, 6, 50, 79, 21, 35, 31, 62, 38, 76, 98, 12, 3, 15, 17, 11, 65, 88, 57, 93, 25, 46]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [3]:
# Your code here

set1 = set(sample_list_1)
print(len(set1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [4]:
# Your code here

sample_list_2 = []
n=80
for i in range(n):
    sample_list_2.append(random.randint(0,100))
print(sample_list_2)

[43, 74, 56, 18, 5, 49, 83, 76, 67, 46, 51, 75, 6, 83, 75, 20, 90, 84, 64, 67, 58, 73, 97, 43, 41, 24, 40, 60, 48, 63, 73, 84, 36, 98, 15, 100, 1, 85, 62, 26, 36, 71, 72, 43, 54, 96, 23, 11, 70, 87, 56, 69, 70, 11, 90, 50, 48, 46, 14, 11, 64, 31, 75, 65, 14, 53, 37, 3, 14, 46, 31, 35, 67, 38, 62, 86, 96, 29, 60, 81]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [5]:
# Your code here

set2 = set(sample_list_2)
print(len(set2))

55

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [6]:
# Your code here

set3=[]
for e in set1:
    if e not in set2:
        set3.append(e)

set3=set(set3)
print(f"set3 = {set3}")

set3 = {0, 2, 7, 8, 10, 12, 13, 16, 17, 19, 21, 22, 25, 27, 28, 30, 33, 34, 45, 52, 55, 57, 59, 61, 66, 68, 79, 80, 82, 88, 89, 91, 92, 93, 95, 99}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [7]:
# Your code here

set4=[]
for e in set2:
    if e not in set1:
        set4.append(e)

set4=set(set4)
print(f"set4 = {set4}")

set4 = {1, 36, 100, 41, 49, 18, 85, 54, 86, 58, 60}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [8]:
# Your code here

set5=[]
for e in set1:
    if e in set2:
        set5.append(e)

set5=set(set5)
print(f"set5= {set5}")

set5= {3, 5, 6, 11, 14, 15, 20, 23, 24, 26, 29, 31, 35, 37, 38, 40, 43, 46, 48, 50, 51, 53, 56, 62, 63, 64, 65, 67, 69, 70, 71, 72, 73, 74, 75, 76, 81, 83, 84, 87, 90, 96, 97, 98}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [9]:
# Your code here

print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

print(" ")

if len(set1)+len(set4)==len(set2)+len(set3):
    print("set1 + set4 = set2 + set3")

if len(set3)+len(set5)==len(set1):
    print("set3 + set5 = set1")

80
55
36
11
44

set1 + set4 = set2 + set3
set3 + set5 = set1

#### Create an empty set called `set6`.

In [10]:
# Your code here

set6=set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [11]:
# Your code here

set6.update(set3)
set6.update(set5)
print(f"set6 = {set6}")
print(" ")
print(len(set6))

set6 = {0, 2, 3, 5, 6, 7, 8, 10, 11, 12, 13, 14, 15, 16, 17, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 33, 34, 35, 37, 38, 40, 43, 45, 46, 48, 50, 51, 52, 53, 55, 56, 57, 59, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 79, 80, 81, 82, 83, 84, 87, 88, 89, 90, 91, 92, 93, 95, 96, 97, 98, 99}

80

#### Check if `set1` and `set6` are equal.

In [12]:
# Your code here
set1==set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [13]:
# Your code here

set2.issubset(set1)

False

In [14]:
set3.issubset(set1)

True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [15]:
# Your code here

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

set_agg=set3.union(set4, set5)
set_agg2=set1.union(set2)

print(" ")

if set_agg==set_agg2:
    print("set_agg and set_agg2 are equal")
else:
    print("set_agg and set_agg2 are not equal")

set_agg and set_agg2 are equal

#### Using the `pop` method, remove the first element from `set1`.

In [16]:
# Your code here
print(set1)

print(" ")

setpop = set1.pop()

print(setpop)

{0, 2, 3, 5, 6, 7, 8, 10, 11, 12, 13, 14, 15, 16, 17, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 33, 34, 35, 37, 38, 40, 43, 45, 46, 48, 50, 51, 52, 53, 55, 56, 57, 59, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 79, 80, 81, 82, 83, 84, 87, 88, 89, 90, 91, 92, 93, 95, 96, 97, 98, 99}

0

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [19]:
# Your code here

list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for n in list_to_remove:
    if n in set1:
        set1.remove(n)

print(set1)

{2, 3, 5, 6, 7, 8, 10, 12, 13, 14, 15, 16, 17, 20, 22, 23, 24, 25, 26, 27, 28, 30, 33, 34, 35, 37, 38, 40, 43, 45, 46, 48, 50, 52, 53, 55, 56, 57, 62, 63, 64, 65, 66, 67, 68, 70, 72, 73, 74, 75, 76, 80, 82, 83, 84, 87, 88, 90, 92, 93, 95, 96, 97, 98}