## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [7]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [13]:
# Your code here

sample_list_1 = set(random.sample(range(0, 100),k=80))
sample_list_1 =list(sample_list_1)
print(sample_list_1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 14, 15, 16, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 46, 47, 50, 51, 52, 53, 54, 55, 56, 57, 59, 60, 61, 62, 63, 64, 65, 68, 69, 70, 71, 73, 75, 76, 77, 78, 80, 81, 83, 85, 88, 89, 90, 92, 94, 96, 97, 99]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [12]:
# Your code here
set1 = set(sample_list_1)
print(len(set1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [14]:
# Your code here
for i in range (1):
    sample_list_2= random.sample(range(100),k=80)
    print(sample_list_2)

[81, 13, 90, 44, 99, 46, 68, 32, 71, 43, 95, 53, 29, 77, 97, 67, 5, 80, 57, 0, 74, 22, 49, 87, 3, 47, 41, 16, 19, 18, 45, 2, 73, 14, 75, 35, 38, 26, 82, 28, 61, 20, 1, 92, 6, 33, 88, 51, 39, 9, 63, 11, 84, 17, 58, 37, 65, 64, 23, 98, 31, 12, 15, 69, 42, 70, 91, 24, 66, 34, 30, 50, 25, 55, 62, 48, 85, 72, 54, 4]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [15]:
# Your code here

set2 = set(sample_list_2)
print(len(set2))

80

In [ ]:
#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [16]:
# Your code here
set3= set1-set2
print(set3)

{96, 36, 7, 40, 59, 10, 76, 78, 79, 83, 52, 86, 56, 89, 27, 60, 93, 94}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [17]:
# Your code here
set4= set2-set1
print(set4)

{65, 67, 4, 58, 9, 41, 43, 46, 16, 17, 82, 51, 22, 54, 88, 25, 26, 31}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [19]:
# Your code here

set5=set(set1).intersection(set2)
print(set5)

{0, 1, 2, 3, 5, 6, 11, 12, 13, 14, 15, 18, 19, 20, 23, 24, 28, 29, 30, 32, 33, 34, 35, 37, 38, 39, 42, 44, 45, 47, 48, 49, 50, 53, 55, 57, 61, 62, 63, 64, 66, 68, 69, 70, 71, 72, 73, 74, 75, 77, 80, 81, 84, 85, 87, 90, 91, 92, 95, 97, 98, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [27]:
# Your code here
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))
set1==set2

80
80
18
18
62

True

#### Create an empty set called `set6`.

In [38]:
# Your code here
set6=set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [39]:
# Your code here

set6.update(set3)
set6.update(set5)
print(set6)

{0, 1, 2, 3, 5, 6, 7, 10, 11, 12, 13, 14, 15, 18, 19, 20, 23, 24, 27, 28, 29, 30, 32, 33, 34, 35, 36, 37, 38, 39, 40, 42, 44, 45, 47, 48, 49, 50, 52, 53, 55, 56, 57, 59, 60, 61, 62, 63, 64, 66, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 83, 84, 85, 86, 87, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}

#### Check if `set1` and `set6` are equal.

In [40]:
# Your code here
set1==set6

False

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [45]:
# Your code here
print(set2.issubset(set1))
print(set3.issubset(set1))

True
False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [51]:
# Your code here
print(set.union(set3,set4,set5))
print(set.union(set1, set2))

{0, 1, 2, 3, 4, 5, 6, 7, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}
{0, 1, 2, 3, 4, 5, 6, 9, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 22, 23, 24, 25, 26, 28, 29, 30, 31, 32, 33, 34, 35, 37, 38, 39, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 53, 54, 55, 57, 58, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 77, 80, 81, 82, 84, 85, 87, 88, 90, 91, 92, 95, 97, 98, 99}

#### Using the `pop` method, remove the first element from `set1`.

In [63]:
# Your code here
set1=list(set1)
set1.pop(0)
print(set1)

[2, 3, 4, 5, 6, 12, 13, 14, 15, 16, 17, 18, 20, 22, 23, 24, 25, 26, 28, 30, 32, 33, 34, 35, 37, 38, 42, 43, 44, 45, 46, 47, 48, 50, 53, 54, 55, 57, 58, 62, 63, 64, 65, 66, 67, 68, 70, 72, 73, 74, 75, 77, 80, 82, 84, 85, 87, 88, 90, 92, 95, 97, 98]

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [57]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
list_to_remove=set(list_to_remove)
set1=set1-list_to_remove
print(set1)

{0, 2, 3, 4, 5, 6, 12, 13, 14, 15, 16, 17, 18, 20, 22, 23, 24, 25, 26, 28, 30, 32, 33, 34, 35, 37, 38, 42, 43, 44, 45, 46, 47, 48, 50, 53, 54, 55, 57, 58, 62, 63, 64, 65, 66, 67, 68, 70, 72, 73, 74, 75, 77, 80, 82, 84, 85, 87, 88, 90, 92, 95, 97, 98}