## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
# Your code here
sample_list_1 = random.sample(range(0, 100), 80)
print(sample_list_1)

[57, 11, 98, 6, 17, 64, 24, 5, 56, 69, 91, 25, 35, 53, 52, 74, 45, 23, 62, 28, 44, 4, 34, 85, 61, 79, 15, 32, 99, 86, 65, 39, 30, 47, 95, 67, 66, 58, 73, 27, 49, 93, 78, 0, 42, 94, 36, 37, 9, 41, 43, 87, 12, 13, 51, 54, 38, 88, 84, 71, 83, 59, 22, 10, 77, 18, 3, 48, 2, 26, 75, 55, 97, 89, 31, 80, 76, 92, 72, 40]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [3]:
# Your code here
set1 = set(sample_list_1)
print(len(set1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [5]:
# Your code here

sample_list_2 = [random.randint(0,100) for i in range(80)]
print(sample_list_2)

[25, 21, 9, 26, 48, 69, 80, 100, 44, 1, 4, 86, 33, 100, 39, 83, 2, 73, 35, 20, 31, 92, 64, 43, 61, 35, 4, 60, 44, 46, 95, 4, 17, 1, 27, 3, 33, 57, 39, 64, 83, 36, 72, 43, 37, 62, 21, 35, 21, 58, 77, 45, 26, 83, 82, 9, 37, 64, 88, 95, 2, 23, 84, 52, 77, 34, 91, 23, 88, 65, 20, 2, 71, 87, 10, 29, 86, 11, 97, 90]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [6]:
# Your code here
set2 = set(sample_list_2)
print(len(set2))

53

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [10]:
# Your code here
set3 = []
for i in set1:
    if i not in set2:
        set3.append(i)
print(set3)

[0, 5, 6, 12, 13, 15, 18, 22, 24, 28, 30, 32, 38, 40, 41, 42, 47, 49, 51, 53, 54, 55, 56, 59, 66, 67, 74, 75, 76, 78, 79, 85, 89, 93, 94, 98, 99]

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [11]:
# Your code here
set4 = []
for i in set2:
    if i not in set1:
        set4.append(i)
print(set4)

[1, 20, 21, 29, 33, 46, 60, 82, 90, 100]

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [12]:
# Your code here
set5 = []
for i in set1:
    if i in set2:
        set5.append(i)
print(set5)

[2, 3, 4, 9, 10, 11, 17, 23, 25, 26, 27, 31, 34, 35, 36, 37, 39, 43, 44, 45, 48, 52, 57, 58, 61, 62, 64, 65, 69, 71, 72, 73, 77, 80, 83, 84, 86, 87, 88, 91, 92, 95, 97]

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [16]:
# Your code here - the length of set 1 is the same than adding the lengh of sets 3 and 5 / same if we add the length of sets 4 and 5, it will give us the length of set 2
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

80
53
37
10
43

#### Create an empty set called `set6`.

In [19]:
# Your code here
set6 = set()
print(set6)

set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [20]:
# Your code here
set6.update(set3)
set6.update(set5)
print(set6)

{0, 2, 3, 4, 5, 6, 9, 10, 11, 12, 13, 15, 17, 18, 22, 23, 24, 25, 26, 27, 28, 30, 31, 32, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 47, 48, 49, 51, 52, 53, 54, 55, 56, 57, 58, 59, 61, 62, 64, 65, 66, 67, 69, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 83, 84, 85, 86, 87, 88, 89, 91, 92, 93, 94, 95, 97, 98, 99}

#### Check if `set1` and `set6` are equal.

In [21]:
# Your code here
if set1 == set6:
    print ("They are equal")
else:
    print ("They are different")

They are equal

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [39]:
# Your code here
set3 = set(set3) # I didnÂ´t convert it to a set before!
type(set3)
print(set2.issubset(set1))
print(set3.issubset(set1))

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [41]:
# Your code here
print(set3.union(set4,set5))

{0, 1, 2, 3, 4, 5, 6, 9, 10, 11, 12, 13, 15, 17, 18, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 64, 65, 66, 67, 69, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 97, 98, 99, 100}

In [42]:
print(set2.union(set1))

{0, 1, 2, 3, 4, 5, 6, 9, 10, 11, 12, 13, 15, 17, 18, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 64, 65, 66, 67, 69, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 97, 98, 99, 100}

In [44]:
if set3.union(set4,set5) == set2.union(set1):
    print("The values are equal")
else:
    print("The values are different")

The values are equal

#### Using the `pop` method, remove the first element from `set1`.

In [50]:
# Your code here
set1 = list(set1)
set1.pop(0)
print(set(set1))

{3, 4, 5, 6, 9, 10, 11, 12, 13, 15, 17, 18, 22, 23, 24, 25, 26, 27, 28, 30, 31, 32, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 47, 48, 49, 51, 52, 53, 54, 55, 56, 57, 58, 59, 61, 62, 64, 65, 66, 67, 69, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 83, 84, 85, 86, 87, 88, 89, 91, 92, 93, 94, 95, 97, 98, 99}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [51]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
for i in list_to_remove:
    if i in set1:
        set1.remove(i)
print(set1)

[3, 4, 5, 6, 10, 12, 13, 15, 17, 18, 22, 23, 24, 25, 26, 27, 28, 30, 32, 34, 35, 36, 37, 38, 40, 42, 43, 44, 45, 47, 48, 52, 53, 54, 55, 56, 57, 58, 62, 64, 65, 66, 67, 72, 73, 74, 75, 76, 77, 78, 80, 83, 84, 85, 86, 87, 88, 92, 93, 94, 95, 97, 98]