## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [69]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [70]:
# Your code here
sample_list_1 = random.sample(range(0,101), 80)
print(sample_list_1)

[24, 61, 89, 52, 8, 33, 29, 40, 38, 25, 9, 86, 49, 31, 63, 79, 53, 43, 94, 26, 54, 19, 6, 47, 66, 77, 42, 69, 20, 67, 90, 75, 45, 56, 62, 3, 27, 32, 10, 70, 73, 60, 87, 50, 97, 35, 84, 4, 88, 37, 1, 80, 21, 82, 2, 23, 0, 85, 68, 30, 11, 46, 98, 81, 12, 83, 36, 16, 44, 13, 22, 58, 17, 18, 14, 59, 34, 99, 55, 28]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [71]:
# Your code here
set1= set(sample_list_1)
print (len(set1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [72]:
# Your code here
sample_list_2 = []
n=80
for item in range(n):
    sample_list_2.append(random.randint(0,100))
len(sample_list_2)

80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [73]:
# Your code here
set2 = set(sample_list_2)
print (len(set2))

53

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [74]:
# Your code here

set3=set()

for item in set1:
    if item not in set2:
        set3.add(item)
set3

{0,
 3,
 6,
 9,
 10,
 11,
 14,
 16,
 21,
 23,
 24,
 26,
 33,
 34,
 36,
 43,
 46,
 54,
 56,
 58,
 59,
 61,
 62,
 63,
 66,
 69,
 70,
 75,
 79,
 80,
 82,
 83,
 84,
 85,
 86,
 88,
 94,
 97,
 98}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [75]:
# Your code here
set4= set()

for item in set2:
    if item not in set1:
        set4.add(item)
set4

{7, 15, 41, 48, 64, 65, 71, 78, 91, 92, 95, 100}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [76]:
# Your code here
set5=set()

for item in set1:
    if item in set2:
        set5.add(item)
set5

{1,
 2,
 4,
 8,
 12,
 13,
 17,
 18,
 19,
 20,
 22,
 25,
 27,
 28,
 29,
 30,
 31,
 32,
 35,
 37,
 38,
 40,
 42,
 44,
 45,
 47,
 49,
 50,
 52,
 53,
 55,
 60,
 67,
 68,
 73,
 77,
 81,
 87,
 89,
 90,
 99}

In [77]:
set1

{0,
 1,
 2,
 3,
 4,
 6,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 40,
 42,
 43,
 44,
 45,
 46,
 47,
 49,
 50,
 52,
 53,
 54,
 55,
 56,
 58,
 59,
 60,
 61,
 62,
 63,
 66,
 67,
 68,
 69,
 70,
 73,
 75,
 77,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 94,
 97,
 98,
 99}

In [78]:
set2

{1,
 2,
 4,
 7,
 8,
 12,
 13,
 15,
 17,
 18,
 19,
 20,
 22,
 25,
 27,
 28,
 29,
 30,
 31,
 32,
 35,
 37,
 38,
 40,
 41,
 42,
 44,
 45,
 47,
 48,
 49,
 50,
 52,
 53,
 55,
 60,
 64,
 65,
 67,
 68,
 71,
 73,
 77,
 78,
 81,
 87,
 89,
 90,
 91,
 92,
 95,
 99,
 100}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [79]:
# Your code here
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

80
53
39
12
41

In [80]:
len(set1)==len(set3)+len(set5)
# len set1 = len set3 + len set 5 /// len of the ones that are in set1 but not in set 2 + len of the ones that are shared

True

In [81]:
len(set2)==len(set4)+len(set5)
# len set 2 = len set 4 + len set 5 // the ones that are in set 2 but not in set 1 + the ones that are in both

True

#### Create an empty set called `set6`.

In [82]:
# Your code here
set6=set()
set6

set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [83]:
# Your code here
set6.update(set3,set5)
set6

{0,
 1,
 2,
 3,
 4,
 6,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 40,
 42,
 43,
 44,
 45,
 46,
 47,
 49,
 50,
 52,
 53,
 54,
 55,
 56,
 58,
 59,
 60,
 61,
 62,
 63,
 66,
 67,
 68,
 69,
 70,
 73,
 75,
 77,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 94,
 97,
 98,
 99}

#### Check if `set1` and `set6` are equal.

In [84]:
# Your code here
set1==set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [85]:
# Your code here
set2.issubset(set1)

False

In [86]:
set3.issubset(set1)

True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [87]:
# Your code here
set3.union(set4,set5)
set3

{0,
 3,
 6,
 9,
 10,
 11,
 14,
 16,
 21,
 23,
 24,
 26,
 33,
 34,
 36,
 43,
 46,
 54,
 56,
 58,
 59,
 61,
 62,
 63,
 66,
 69,
 70,
 75,
 79,
 80,
 82,
 83,
 84,
 85,
 86,
 88,
 94,
 97,
 98}

In [88]:
set1.union(set2)
set2

{1,
 2,
 4,
 7,
 8,
 12,
 13,
 15,
 17,
 18,
 19,
 20,
 22,
 25,
 27,
 28,
 29,
 30,
 31,
 32,
 35,
 37,
 38,
 40,
 41,
 42,
 44,
 45,
 47,
 48,
 49,
 50,
 52,
 53,
 55,
 60,
 64,
 65,
 67,
 68,
 71,
 73,
 77,
 78,
 81,
 87,
 89,
 90,
 91,
 92,
 95,
 99,
 100}

#### Using the `pop` method, remove the first element from `set1`.

In [89]:
# Your code here



set1.pop()
set1

{1,
 2,
 3,
 4,
 6,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 40,
 42,
 43,
 44,
 45,
 46,
 47,
 49,
 50,
 52,
 53,
 54,
 55,
 56,
 58,
 59,
 60,
 61,
 62,
 63,
 66,
 67,
 68,
 69,
 70,
 73,
 75,
 77,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 94,
 97,
 98,
 99}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [90]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
for item in list_to_remove:
    if item in set1:
        set1.remove(item)
        
set1

{2,
 3,
 4,
 6,
 8,
 10,
 12,
 13,
 14,
 16,
 17,
 18,
 20,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 30,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 40,
 42,
 43,
 44,
 45,
 46,
 47,
 50,
 52,
 53,
 54,
 55,
 56,
 58,
 60,
 62,
 63,
 66,
 67,
 68,
 70,
 73,
 75,
 77,
 80,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 90,
 94,
 97,
 98}