## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [91]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [92]:
sample_list_1 = random.sample(range(0,100),80)
print(sample_list_1)

[71, 34, 88, 36, 7, 5, 54, 32, 42, 62, 85, 80, 55, 68, 65, 29, 14, 11, 19, 44, 6, 69, 49, 41, 87, 89, 16, 57, 35, 78, 4, 21, 95, 64, 20, 72, 45, 2, 60, 23, 94, 31, 91, 56, 51, 10, 9, 73, 24, 83, 18, 40, 70, 0, 77, 52, 66, 48, 39, 76, 96, 79, 93, 12, 43, 22, 47, 1, 53, 92, 3, 59, 13, 99, 81, 17, 25, 46, 27, 67]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [93]:
set1 = set(sample_list_1)
print(len(set1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [94]:
sample_list_2 = [random.randint(0,100) for i in range(80)]
print(sample_list_2)

[83, 29, 97, 30, 47, 63, 88, 88, 66, 16, 66, 64, 21, 29, 44, 37, 42, 22, 51, 33, 51, 56, 69, 68, 47, 29, 56, 24, 90, 54, 61, 88, 75, 85, 39, 99, 72, 28, 48, 17, 19, 74, 89, 82, 62, 99, 19, 79, 34, 72, 65, 41, 37, 59, 94, 63, 54, 93, 19, 77, 58, 67, 48, 69, 21, 53, 19, 43, 35, 87, 52, 57, 22, 42, 4, 18, 66, 24, 14, 18]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [95]:
set2 = set(sample_list_2)
print(len(set2)) # Length is lower due to numbers not being unique in list, which are removed in set

56

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [96]:
set3 = []
for i in set1:
    if i not in set2:
        set3.append(i)
set3 = set(set3)
print(set3)

{0, 1, 2, 3, 5, 6, 7, 9, 10, 11, 12, 13, 20, 23, 25, 27, 31, 32, 36, 40, 45, 46, 49, 55, 60, 70, 71, 73, 76, 78, 80, 81, 91, 92, 95, 96}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [97]:
set4 = []
for i in set2:
    if i not in set1:
        set4.append(i)
set4 = set(set4)
print(set4)

{33, 97, 37, 90, 74, 75, 82, 58, 28, 61, 30, 63}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [98]:
set5 = set1.intersection(set2)
print(set5)

{4, 14, 16, 17, 18, 19, 21, 22, 24, 29, 34, 35, 39, 41, 42, 43, 44, 47, 48, 51, 52, 53, 54, 56, 57, 59, 62, 64, 65, 66, 67, 68, 69, 72, 77, 79, 83, 85, 87, 88, 89, 93, 94, 99}

In [99]:
for i in set5:
    if i in set1:
        print(i, True)
    if i in set2:
        print(i, True)
    else:
        print(False)

4 True
4 True
14 True
14 True
16 True
16 True
17 True
17 True
18 True
18 True
19 True
19 True
21 True
21 True
22 True
22 True
24 True
24 True
29 True
29 True
34 True
34 True
35 True
35 True
39 True
39 True
41 True
41 True
42 True
42 True
43 True
43 True
44 True
44 True
47 True
47 True
48 True
48 True
51 True
51 True
52 True
52 True
53 True
53 True
54 True
54 True
56 True
56 True
57 True
57 True
59 True
59 True
62 True
62 True
64 True
64 True
65 True
65 True
66 True
66 True
67 True
67 True
68 True
68 True
69 True
69 True
72 True
72 True
77 True
77 True
79 True
79 True
83 True
83 True
85 True
85 True
87 True
87 True
88 True
88 True
89 True
89 True
93 True
93 True
94 True
94 True
99 True
99 True

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [100]:
print("set1 length:", len(set1))
print("set2 length:", len(set2))
print("set3 length:", len(set3))
print("set4 lenght:", len(set4))
print("set5 length:", len(set5))

set1 length: 80
set2 length: 56
set3 length: 36
set4 lenght: 12
set5 length: 44

set1: 80 unique
set2: 53 not unique
set3: in set1 but not set2
set4: in set2 but not set1
set5: intersect set1 + set2

set2_length = set4_length + set5_length
set1_length = set3_length + set5_length
set3_length + set4_length + set5_length = set1_length + set2_length

In [101]:
len(set2) == ( len(set4) + len(set5) )

True

In [102]:
len(set1) == ( len(set3) + len(set5) )

True

In [103]:
len(set3) + len(set4) + len(set5) == len(set1) + len(set2)

False

#### Create an empty set called `set6`.

In [104]:
set6 = set()
type(set6)

set

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [105]:
set6.update(set3,set5)
print(set6)

{0, 1, 2, 3, 4, 5, 6, 7, 9, 10, 11, 12, 13, 14, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 27, 29, 31, 32, 34, 35, 36, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 51, 52, 53, 54, 55, 56, 57, 59, 60, 62, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 76, 77, 78, 79, 80, 81, 83, 85, 87, 88, 89, 91, 92, 93, 94, 95, 96, 99}

#### Check if `set1` and `set6` are equal.

In [106]:
set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [107]:
set2.issubset(set1)

False

In [108]:
set3.issubset(set1)

True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [109]:
set345 = set3.union(set4).union(set5)

In [110]:
set12 = set1.union(set2)

In [111]:
set345 == set12

True

#### Using the `pop` method, remove the first element from `set1`.

In [112]:
# The pop method removes an element randomly, thus we could convert it to list to pop the first element:

set1_list = list(set1)
print(set1_list)

[0, 1, 2, 3, 4, 5, 6, 7, 9, 10, 11, 12, 13, 14, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 27, 29, 31, 32, 34, 35, 36, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 51, 52, 53, 54, 55, 56, 57, 59, 60, 62, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 76, 77, 78, 79, 80, 81, 83, 85, 87, 88, 89, 91, 92, 93, 94, 95, 96, 99]

In [113]:
set1_list.pop(0)

0

In [114]:
set1_list_pop = set(set1_list)  # And we convert it back to pop
print(set1_list_pop)

{1, 2, 3, 4, 5, 6, 7, 9, 10, 11, 12, 13, 14, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 27, 29, 31, 32, 34, 35, 36, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 51, 52, 53, 54, 55, 56, 57, 59, 60, 62, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 76, 77, 78, 79, 80, 81, 83, 85, 87, 88, 89, 91, 92, 93, 94, 95, 96, 99}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [115]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for i in list_to_remove:
    if i in set1:
        set1.remove(i)
        
print(set1)

{0, 2, 3, 4, 5, 6, 7, 10, 12, 13, 14, 16, 17, 18, 20, 22, 23, 24, 25, 27, 32, 34, 35, 36, 40, 42, 43, 44, 45, 46, 47, 48, 52, 53, 54, 55, 56, 57, 60, 62, 64, 65, 66, 67, 68, 70, 72, 73, 76, 77, 78, 80, 83, 85, 87, 88, 92, 93, 94, 95, 96}

In [116]:
len(set1)

61