## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
sample_list_1 = random.sample(range(0, 100), 80)

#print(type(sample_list_1))

print(sample_list_1)

[29, 58, 17, 91, 87, 21, 26, 4, 9, 18, 43, 72, 79, 88, 37, 68, 81, 27, 10, 23, 24, 36, 59, 85, 45, 5, 7, 93, 32, 39, 47, 30, 55, 67, 50, 96, 83, 77, 70, 51, 31, 42, 20, 0, 65, 28, 41, 2, 90, 46, 33, 99, 62, 86, 95, 57, 52, 76, 25, 60, 61, 78, 16, 89, 12, 84, 71, 92, 11, 64, 75, 3, 40, 22, 54, 44, 19, 14, 98, 49]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [3]:
set1 = set(sample_list_1)
print(len(set1))



#The length is still 80

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [4]:
sample_list_2 = [random.randint(0,100) for i in range(80)]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [5]:
set2 = set(sample_list_2)

print(len(set2))

#The length has change to 61

59

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [6]:
set3 = []
set3 = set(set3)
for i in set1:
    if i not in set2:
        set3.add(i)
        
print(set3)

{0, 4, 7, 9, 12, 16, 17, 24, 26, 30, 32, 33, 36, 37, 39, 46, 47, 49, 50, 54, 55, 57, 58, 59, 62, 65, 70, 71, 79, 83, 89, 90, 92, 95}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [7]:
set4 = []
set4 = set(set4)
for i in set2:
    if i not in set1:
        set4.add(i)
        
print(set4)

{97, 34, 35, 100, 6, 8, 73, 74, 15, 80, 53, 56, 63}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [8]:
set5 = []
set5 = set(set5)
for i in set1:
    if i in set2:
        set5.add(i)
        
print(set5)

{2, 3, 5, 10, 11, 14, 18, 19, 20, 21, 22, 23, 25, 27, 28, 29, 31, 40, 41, 42, 43, 44, 45, 51, 52, 60, 61, 64, 67, 68, 72, 75, 76, 77, 78, 81, 84, 85, 86, 87, 88, 91, 93, 96, 98, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [9]:
import math

print(len(set1),
len(set2),
len(set3),
len(set4),
len(set5))

len(set1) + len(set4) == len(set2) + len(set3)

80 59 34 13 46

True

#### Create an empty set called `set6`.

In [10]:
set6 = []
set6 = set(set6)
print(type(set6))

<class 'set'>

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [11]:
set6.update(set3)
#print(set6)
#print(len(set6))

set6.update(set5)
print(set6)
print(len(set6))

{0, 2, 3, 4, 5, 7, 9, 10, 11, 12, 14, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 36, 37, 39, 40, 41, 42, 43, 44, 45, 46, 47, 49, 50, 51, 52, 54, 55, 57, 58, 59, 60, 61, 62, 64, 65, 67, 68, 70, 71, 72, 75, 76, 77, 78, 79, 81, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 95, 96, 98, 99}
80

#### Check if `set1` and `set6` are equal.

In [12]:
set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [13]:
print(set2.issubset(set1))

print(set3.issubset(set1))

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [14]:
a = set3.union(set4)
a = a.union(set5)

b = set1.union(set2)

a == b

True

#### Using the `pop` method, remove the first element from `set1`.

In [15]:
set1 = list(set1)

print(set1.pop(0))

0

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [16]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for i in list_to_remove:
    if i in set1:
        set1.remove(i)
        
print(set1)
print(len(set1))

[2, 3, 4, 5, 7, 10, 12, 14, 16, 17, 18, 20, 22, 23, 24, 25, 26, 27, 28, 30, 32, 33, 36, 37, 40, 42, 43, 44, 45, 46, 47, 50, 52, 54, 55, 57, 58, 60, 62, 64, 65, 67, 68, 70, 72, 75, 76, 77, 78, 83, 84, 85, 86, 87, 88, 90, 92, 93, 95, 96, 98]
61