## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
#sample_list_1 = []
#for i in range(0,80):
#    sample_list_1.append(random.randint(1, 100))
#print(sample_list_1)
sample_list_1 = random.sample(range(0,100), 80)
print(sample_list_1)

[87, 48, 79, 88, 89, 18, 38, 43, 14, 34, 35, 6, 1, 16, 94, 0, 42, 77, 33, 60, 84, 15, 20, 8, 91, 81, 57, 36, 70, 26, 95, 82, 52, 83, 97, 41, 99, 67, 58, 7, 9, 46, 2, 24, 23, 13, 5, 17, 10, 40, 76, 61, 66, 74, 59, 64, 4, 68, 55, 63, 25, 62, 53, 45, 47, 56, 22, 86, 49, 71, 92, 73, 21, 37, 31, 44, 93, 27, 28, 51]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [3]:
set1 = set(sample_list_1)
print("the lenght of set1 is", len(set1))

the lenght of set1 is 80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [4]:
sample_list_2 = random.sample(range(0,100), 80)
print(sample_list_2)

[77, 49, 34, 55, 24, 58, 48, 59, 37, 19, 75, 60, 7, 92, 46, 45, 50, 88, 27, 97, 72, 15, 29, 78, 76, 8, 17, 85, 0, 82, 57, 63, 39, 81, 70, 42, 9, 2, 71, 74, 12, 68, 44, 13, 1, 87, 31, 67, 32, 6, 41, 84, 90, 14, 35, 18, 21, 83, 98, 22, 5, 30, 65, 96, 43, 51, 36, 11, 10, 20, 73, 52, 80, 53, 66, 94, 3, 56, 33, 25]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [5]:
set2 = set(sample_list_2)
print("the lenght of set1 is", len(set2))

the lenght of set1 is 80

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [6]:
set3 = set1.difference(set2)
print(set3)

{64, 99, 4, 38, 40, 47, 16, 79, 93, 86, 23, 89, 26, 91, 28, 61, 62, 95}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [7]:
set4 = set2.difference(set1)
print(set4)

{32, 65, 96, 3, 98, 39, 72, 11, 12, 75, 78, 80, 50, 19, 85, 90, 29, 30}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [8]:
set5=set1.intersection(set2)
print(set5)

{0, 1, 2, 5, 6, 7, 8, 9, 10, 13, 14, 15, 17, 18, 20, 21, 22, 24, 25, 27, 31, 33, 34, 35, 36, 37, 41, 42, 43, 44, 45, 46, 48, 49, 51, 52, 53, 55, 56, 57, 58, 59, 60, 63, 66, 67, 68, 70, 71, 73, 74, 76, 77, 81, 82, 83, 84, 87, 88, 92, 94, 97}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [9]:
for i in range(1,6):
   print("set"+str(i),len(globals()["set"+str(i)]))
print("len(set1) is equal to len(set2)")
print("len(set3) is equal to len(set4)")
print("len(set3) + len(set5) and len(set4) + len(set5) are equal to len(set1) and len(set2)")

set1 80
set2 80
set3 18
set4 18
set5 62
len(set1) is equal to len(set2)
len(set3) is equal to len(set4)
len(set3) + len(set5) and len(set4) + len(set5) are equal to len(set1) and len(set2)

#### Create an empty set called `set6`.

In [10]:
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [11]:
set6.update(set3)
set6.update(set5)
print(set6)

{0, 1, 2, 4, 5, 6, 7, 8, 9, 10, 13, 14, 15, 16, 17, 18, 20, 21, 22, 23, 24, 25, 26, 27, 28, 31, 33, 34, 35, 36, 37, 38, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 51, 52, 53, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 66, 67, 68, 70, 71, 73, 74, 76, 77, 79, 81, 82, 83, 84, 86, 87, 88, 89, 91, 92, 93, 94, 95, 97, 99}

#### Check if `set1` and `set6` are equal.

In [12]:
if set1 == set6:
    print("set1 is equal set6")
else:
    print("set1 is NOT equal set6")

set1 is equal set6

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [13]:
print(set2.issubset(set1))

False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [14]:
union_set = (set3.union(set4)).union(set5)
print("first union:", union_set)
union_set = (union_set.union(set1)).union(set2)
print("second union:", union_set)

first union: {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}
second union: {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}

#### Using the `pop` method, remove the first element from `set1`.

In [22]:
print("before:", set1)
set_pop = list(set1)
set_pop.pop(0)
set_pop=set(set_pop)
print("after", set_pop)

before: {0, 1, 2, 4, 5, 6, 7, 8, 9, 10, 13, 14, 15, 16, 17, 18, 20, 21, 22, 23, 24, 25, 26, 27, 28, 31, 33, 34, 35, 36, 37, 38, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 51, 52, 53, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 66, 67, 68, 70, 71, 73, 74, 76, 77, 79, 81, 82, 83, 84, 86, 87, 88, 89, 91, 92, 93, 94, 95, 97, 99}
after {1, 2, 4, 5, 6, 7, 8, 9, 10, 13, 14, 15, 16, 17, 18, 20, 21, 22, 23, 24, 25, 26, 27, 28, 31, 33, 34, 35, 36, 37, 38, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 51, 52, 53, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 66, 67, 68, 70, 71, 73, 74, 76, 77, 79, 81, 82, 83, 84, 86, 87, 88, 89, 91, 92, 93, 94, 95, 97, 99}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [26]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
for i in set1:
    if i in list_to_remove:
       list_to_remove.remove(i)
print(list_to_remove)

[11, 19, 29, 39, 69]