## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
sample_list_1 = random.sample(range(0,100),80)
print(sample_list_1)

[74, 6, 46, 10, 72, 19, 82, 79, 31, 32, 51, 65, 18, 89, 20, 0, 57, 80, 37, 33, 30, 83, 70, 52, 68, 60, 27, 21, 39, 85, 23, 40, 76, 3, 50, 8, 81, 1, 86, 71, 9, 97, 4, 53, 59, 77, 90, 45, 24, 54, 91, 22, 26, 69, 64, 28, 73, 5, 43, 95, 62, 44, 25, 75, 66, 58, 98, 2, 63, 55, 84, 38, 48, 96, 56, 42, 13, 15, 87, 78]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [3]:
set1 = set(sample_list_1)
print(len(set1))

# Yes, its length is still 80 since random.sample returns unique values.

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [4]:
sample_list_2 = []
for i in range(0,80):
    sample_list_2.append(random.randint(0,100))

print(sample_list_2)

[59, 94, 62, 14, 35, 43, 27, 95, 53, 93, 59, 24, 4, 81, 39, 82, 62, 34, 65, 100, 87, 57, 43, 59, 86, 89, 86, 80, 82, 17, 10, 100, 97, 6, 54, 71, 2, 62, 65, 44, 39, 75, 50, 33, 42, 38, 10, 56, 92, 25, 58, 34, 4, 13, 22, 86, 16, 21, 85, 51, 17, 89, 96, 87, 13, 86, 81, 5, 54, 98, 36, 67, 91, 63, 53, 44, 26, 85, 72, 94]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [5]:
set2 = set(sample_list_2)
print(len(set2))

# The length is not 80 because the random numbers where not meant to be unique.

55

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [6]:
set3 = set1.difference(set2)
print(set3)

{0, 1, 3, 8, 9, 15, 18, 19, 20, 23, 28, 30, 31, 32, 37, 40, 45, 46, 48, 52, 55, 60, 64, 66, 68, 69, 70, 73, 74, 76, 77, 78, 79, 83, 84, 90}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [7]:
set4 = set2.difference(set1)
print(set4)

{34, 35, 36, 67, 100, 14, 16, 17, 92, 93, 94}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [8]:
set5 = set1.intersection(set2)
print(set5)

{2, 4, 5, 6, 10, 13, 21, 22, 24, 25, 26, 27, 33, 38, 39, 42, 43, 44, 50, 51, 53, 54, 56, 57, 58, 59, 62, 63, 65, 71, 72, 75, 80, 81, 82, 85, 86, 87, 89, 91, 95, 96, 97, 98}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [9]:
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

# len(set3) is included in len(set1) but is excluded of len(set2)
# len(set4) is included in len(set2) but is excluded of len(set1)
# len(set5) is included in both len(set1) and len(set2)

80
55
36
11
44

#### Create an empty set called `set6`.

In [10]:
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [11]:
# Your code here
set6.update(set3)
set6.update(set5)

print(set6)

{0, 1, 2, 3, 4, 5, 6, 8, 9, 10, 13, 15, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 30, 31, 32, 33, 37, 38, 39, 40, 42, 43, 44, 45, 46, 48, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 62, 63, 64, 65, 66, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 89, 90, 91, 95, 96, 97, 98}

#### Check if `set1` and `set6` are equal.

In [12]:
set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [13]:
set2.issubset(set1)

False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [14]:
set.union(set3, set4, set5) == set.union(set1, set2)

True

#### Using the `pop` method, remove the first element from `set1`.

In [15]:
pop_list1 = list(set1)
pop_list1.pop(0)
set1 = set(pop_list1)
print(set1)

{1, 2, 3, 4, 5, 6, 8, 9, 10, 13, 15, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 30, 31, 32, 33, 37, 38, 39, 40, 42, 43, 44, 45, 46, 48, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 62, 63, 64, 65, 66, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 89, 90, 91, 95, 96, 97, 98}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [16]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
pop_list = list(set1)

for num in list_to_remove:
    if num in pop_list:
        pop_list.pop(pop_list.index(num))

set1 = set(pop_list)
print(set1)

{2, 3, 4, 5, 6, 8, 10, 13, 15, 18, 20, 22, 23, 24, 25, 26, 27, 28, 30, 32, 33, 37, 38, 40, 42, 43, 44, 45, 46, 48, 50, 52, 53, 54, 55, 56, 57, 58, 60, 62, 63, 64, 65, 66, 68, 70, 72, 73, 74, 75, 76, 77, 78, 80, 82, 83, 84, 85, 86, 87, 90, 95, 96, 97, 98}