## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [2]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [3]:
sample_list_1 = random.sample(range(0,100),80)
print(sample_list_1)

[92, 22, 50, 85, 58, 91, 28, 83, 69, 53, 70, 45, 30, 25, 76, 10, 89, 84, 79, 46, 4, 66, 40, 21, 88, 1, 54, 5, 47, 3, 26, 75, 2, 42, 44, 15, 97, 36, 98, 24, 33, 81, 6, 64, 41, 9, 55, 63, 20, 68, 35, 13, 82, 16, 93, 37, 27, 11, 96, 61, 56, 39, 31, 17, 71, 38, 7, 52, 74, 14, 65, 78, 0, 62, 23, 94, 86, 99, 48, 80]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [4]:
set1 = set(sample_list_1)
print(set1)
len(set1)

{0, 1, 2, 3, 4, 5, 6, 7, 9, 10, 11, 13, 14, 15, 16, 17, 20, 21, 22, 23, 24, 25, 26, 27, 28, 30, 31, 33, 35, 36, 37, 38, 39, 40, 41, 42, 44, 45, 46, 47, 48, 50, 52, 53, 54, 55, 56, 58, 61, 62, 63, 64, 65, 66, 68, 69, 70, 71, 74, 75, 76, 78, 79, 80, 81, 82, 83, 84, 85, 86, 88, 89, 91, 92, 93, 94, 96, 97, 98, 99}

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [5]:
sample_list_2=[]

for number in range (0,80):
    sample_list_2.append(random.randrange(0, 100))

print(sample_list_2)
len(sample_list_2)

[9, 15, 76, 45, 97, 73, 3, 85, 45, 38, 36, 17, 36, 19, 96, 74, 0, 74, 53, 76, 37, 57, 83, 82, 84, 82, 93, 72, 29, 0, 31, 60, 87, 85, 50, 54, 78, 68, 29, 31, 63, 51, 12, 40, 52, 60, 12, 88, 70, 96, 59, 19, 53, 81, 65, 11, 76, 82, 8, 13, 97, 93, 8, 62, 35, 44, 72, 12, 64, 36, 61, 87, 7, 20, 66, 51, 60, 93, 71, 87]

80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [6]:
set2 = set(sample_list_2)
print(set2)
len(set2)

{0, 3, 7, 8, 9, 11, 12, 13, 15, 17, 19, 20, 29, 31, 35, 36, 37, 38, 40, 44, 45, 50, 51, 52, 53, 54, 57, 59, 60, 61, 62, 63, 64, 65, 66, 68, 70, 71, 72, 73, 74, 76, 78, 81, 82, 83, 84, 85, 87, 88, 93, 96, 97}

53

In [7]:
# It is no longer 80 but 52.

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [ ]:
#TA - I know that this would require some sort of cross reference but not sure how to best reveal.
# what I've put, I know doesn't fit but I'm curious to know why these numbers have come up in such a spacing.

In [17]:
set1 = {0, 1, 2, 3, 4, 5, 6, 7, 9, 10, 11, 13, 14, 15, 16, 17, 20, 21, 22, 23, 24, 25, 26, 27, 28, 30, 31, 33, 35, 36, 37, 38, 39, 40, 41, 42, 44, 45, 46, 47, 48, 50, 52, 53, 54, 55, 56, 58, 61, 62, 63, 64, 65, 66, 68, 69, 70, 71, 74, 75, 76, 78, 79, 80, 81, 82, 83, 84, 85, 86, 88, 89, 91, 92, 93, 94, 96, 97, 98, 99}
set2 = {0, 3, 7, 8, 9, 11, 12, 13, 15, 17, 19, 20, 29, 31, 35, 36, 37, 38, 40, 44, 45, 50, 51, 52, 53, 54, 57, 59, 60, 61, 62, 63, 64, 65, 66, 68, 70, 71, 72, 73, 74, 76, 78, 81, 82, 83, 84, 85, 87, 88, 93, 96, 97}

print(set1.difference(set2))

{1, 2, 4, 5, 6, 10, 14, 16, 21, 22, 23, 24, 25, 26, 27, 28, 30, 33, 39, 41, 42, 46, 47, 48, 55, 56, 58, 69, 75, 79, 80, 86, 89, 91, 92, 94, 98, 99}

In [18]:
set3 = {1, 2, 4, 5, 6, 10, 14, 16, 21, 22, 23, 24, 25, 26, 27, 28, 30, 33, 39, 41, 42, 46, 47, 48, 55, 56, 58, 69, 75, 79, 80, 86, 89, 91, 92, 94, 98, 99}
print(set3)

{1, 2, 4, 5, 6, 10, 14, 16, 21, 22, 23, 24, 25, 26, 27, 28, 30, 33, 39, 41, 42, 46, 47, 48, 55, 56, 58, 69, 75, 79, 80, 86, 89, 91, 92, 94, 98, 99}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [20]:
print(set2.difference(set1))

{8, 72, 73, 12, 51, 19, 87, 57, 59, 60, 29}

In [21]:
set4 = {8, 72, 73, 12, 51, 19, 87, 57, 59, 60, 29}
print(set4)

{8, 73, 72, 12, 51, 19, 87, 57, 59, 60, 29}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [22]:
print(set1.intersection(set2))

{0, 3, 7, 9, 11, 13, 15, 17, 20, 31, 35, 36, 37, 38, 40, 44, 45, 50, 52, 53, 54, 61, 62, 63, 64, 65, 66, 68, 70, 71, 74, 76, 78, 81, 82, 83, 84, 85, 88, 93, 96, 97}

In [23]:
set5 = {0, 3, 7, 9, 11, 13, 15, 17, 20, 31, 35, 36, 37, 38, 40, 44, 45, 50, 52, 53, 54, 61, 62, 63, 64, 65, 66, 68, 70, 71, 74, 76, 78, 81, 82, 83, 84, 85, 88, 93, 96, 97}
print(set5)

{0, 3, 7, 9, 11, 13, 15, 17, 20, 31, 35, 36, 37, 38, 40, 44, 45, 50, 52, 53, 54, 61, 62, 63, 64, 65, 66, 68, 70, 71, 74, 76, 78, 81, 82, 83, 84, 85, 88, 93, 96, 97}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [ ]:
# TA the relation is that the given series of commands is counting the number of items in the set. However to represnt that through code I'm sure there is a more efficient way to show then actioning the commands.

In [50]:
len(set1)
len(set2)
len(set3)
len(set4)
len(set5)

42

#### Create an empty set called `set6`.

In [ ]:
set6 = {}

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [ ]:
# TA Is it possible to add multiple sets in a single command line?

In [32]:
set3 = {1, 2, 4, 5, 6, 10, 14, 16, 21, 22, 23, 24, 25, 26, 27, 28, 30, 33, 39, 41, 42, 46, 47, 48, 55, 56, 58, 69, 75, 79, 80, 86, 89, 91, 92, 94, 98, 99}
set5 = {0, 3, 7, 9, 11, 13, 15, 17, 20, 31, 35, 36, 37, 38, 40, 44, 45, 50, 52, 53, 54, 61, 62, 63, 64, 65, 66, 68, 70, 71, 74, 76, 78, 81, 82, 83, 84, 85, 88, 93, 96, 97}
set6 = {}

set3,set5.update(set6)

print(set6)

{}

#### Check if `set1` and `set6` are equal.

In [33]:
set1 = {0, 1, 2, 3, 4, 5, 6, 7, 9, 10, 11, 13, 14, 15, 16, 17, 20, 21, 22, 23, 24, 25, 26, 27, 28, 30, 31, 33, 35, 36, 37, 38, 39, 40, 41, 42, 44, 45, 46, 47, 48, 50, 52, 53, 54, 55, 56, 58, 61, 62, 63, 64, 65, 66, 68, 69, 70, 71, 74, 75, 76, 78, 79, 80, 81, 82, 83, 84, 85, 86, 88, 89, 91, 92, 93, 94, 96, 97, 98, 99}
set6 = {}

print(set1.isdisjoint(set6))

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [34]:
print(set1.issubset(set2))

False

In [35]:
print(set1.issubset(set3))

False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [39]:
print('combined_set=',set3.union(set4,set4,set5,set1,set2))

combined_set= {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 33, 35, 36, 37, 38, 39, 40, 41, 42, 44, 45, 46, 47, 48, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 68, 69, 70, 71, 72, 73, 74, 75, 76, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 91, 92, 93, 94, 96, 97, 98, 99}

#### Using the `pop` method, remove the first element from `set1`.

In [40]:
set1 = {0, 1, 2, 3, 4, 5, 6, 7, 9, 10, 11, 13, 14, 15, 16, 17, 20, 21, 22, 23, 24, 25, 26, 27, 28, 30, 31, 33, 35, 36, 37, 38, 39, 40, 41, 42, 44, 45, 46, 47, 48, 50, 52, 53, 54, 55, 56, 58, 61, 62, 63, 64, 65, 66, 68, 69, 70, 71, 74, 75, 76, 78, 79, 80, 81, 82, 83, 84, 85, 86, 88, 89, 91, 92, 93, 94, 96, 97, 98, 99}

removed_item = set1.pop()
print(removed_item)

0

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [49]:
set1 = {0, 1, 2, 3, 4, 5, 6, 7, 9, 10, 11, 13, 14, 15, 16, 17, 20, 21, 22, 23, 24, 25, 26, 27, 28, 30, 31, 33, 35, 36, 37, 38, 39, 40, 41, 42, 44, 45, 46, 47, 48, 50, 52, 53, 54, 55, 56, 58, 61, 62, 63, 64, 65, 66, 68, 69, 70, 71, 74, 75, 76, 78, 79, 80, 81, 82, 83, 84, 85, 86, 88, 89, 91, 92, 93, 94, 96, 97, 98, 99}


set1.discard(1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99)

print(set1)

TypeError: set.discard() takes exactly one argument (20 given)

In [ ]:
# TA This syntax looks to be correct here yet its flagging the 'set1.remove' tag line. The system stats that is can only take one argument at a time, would it be better to lopp delet if possible?