## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [22]:
#!pip install numpy
import numpy as np 
sample_list_1= random.sample(range(100),80)
print(sample_list_1)

#checking if values are unique 
len(np.unique(sample_list_1))

[61, 43, 55, 81, 22, 19, 28, 77, 98, 87, 13, 47, 27, 23, 76, 73, 52, 66, 32, 88, 8, 31, 15, 38, 95, 46, 57, 93, 85, 67, 92, 72, 58, 40, 1, 3, 63, 83, 29, 0, 18, 11, 34, 86, 2, 20, 24, 62, 51, 26, 65, 56, 12, 30, 71, 84, 97, 94, 7, 25, 99, 74, 35, 70, 64, 53, 44, 82, 16, 69, 6, 41, 17, 59, 21, 54, 48, 79, 4, 78]

80

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [24]:
set1= set(sample_list_1)
print(len(set1))
#Yes, length is 80

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [43]:
# Your code here
sample_list_2= np.random.choice(range(100),size= 80)
sample_list_2

## OR, using for loop ## 
sample_list2= []
for i in range(80):
    sample_list2 += (random.sample(range(100),1))
print(sample_list2)

[26, 41, 17, 54, 47, 90, 63, 98, 18, 5, 16, 35, 13, 51, 3, 58, 69, 15, 7, 66, 6, 30, 55, 58, 99, 55, 67, 4, 55, 6, 48, 77, 45, 7, 13, 83, 6, 14, 8, 71, 40, 16, 77, 59, 6, 0, 59, 22, 51, 82, 95, 25, 5, 46, 81, 88, 27, 74, 28, 72, 27, 16, 60, 77, 54, 74, 8, 69, 1, 23, 65, 88, 27, 34, 78, 4, 51, 66, 77, 41]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [45]:
set2= set(sample_list2)
len(set2)
#length is now 53

53

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [47]:
set3= set1.difference(set2)

{2,
 11,
 12,
 19,
 20,
 21,
 24,
 29,
 31,
 32,
 38,
 43,
 44,
 52,
 53,
 56,
 57,
 61,
 62,
 64,
 70,
 73,
 76,
 79,
 84,
 85,
 86,
 87,
 92,
 93,
 94,
 97}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [49]:
# Your code here
set4= set2.difference(set1)
set4

{5, 14, 45, 60, 90}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [53]:
set5= set1.intersection(set2)

48

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [114]:
import math 
lengths= [len(set1),len(set2),len(set3),len(set4),len(set5)]
li= list(lengths)
li.sort()
print(li)

lengths= {'set1':len(set1), 'set2':len(set2), 'set3':len(set3), 'set4':len(set4), 'set5':len(set5)}

print(lengths)

len(set1)>len(set2)>len(set5)>len(set3)>len(set4)

[5, 32, 48, 53, 80]
{'set1': 80, 'set2': 53, 'set3': 32, 'set4': 5, 'set5': 48}

True

#### Create an empty set called `set6`.

In [91]:
# Your code here
li

[80, 53, 32, 5, 48]

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [ ]:
# Your code here

#### Check if `set1` and `set6` are equal.

In [ ]:
# Your code here

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [ ]:
# Your code here

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [ ]:
# Your code here

#### Using the `pop` method, remove the first element from `set1`.

In [ ]:
# Your code here

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [ ]:
# Your code here