## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [8]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [18]:
sample_list_1 = random.sample(range(100), 80)
print (sample_list_1)

[62, 41, 18, 98, 84, 15, 60, 20, 24, 58, 40, 39, 82, 87, 74, 11, 94, 6, 22, 13, 27, 65, 28, 73, 96, 75, 72, 93, 90, 89, 1, 47, 57, 33, 66, 70, 68, 79, 12, 43, 92, 63, 77, 25, 3, 5, 16, 53, 48, 32, 10, 76, 50, 17, 45, 64, 7, 59, 8, 81, 29, 56, 49, 61, 14, 69, 31, 34, 86, 37, 54, 42, 88, 9, 71, 85, 95, 80, 55, 35]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [64]:
# Your code here
set1 = set(sample_list_1)
print(set1)

{1, 3, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 20, 22, 24, 25, 27, 28, 29, 31, 32, 33, 34, 35, 37, 39, 40, 41, 42, 43, 45, 47, 48, 49, 50, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 79, 80, 81, 82, 84, 85, 86, 87, 88, 89, 90, 92, 93, 94, 95, 96, 98}

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [65]:
# Your code here
word_freq2 = list()

for num in (range (100)):
    num = random.randint(0,80)
    word_freq2.append(num)

print(word_freq2)

[23, 67, 78, 34, 14, 73, 30, 74, 39, 51, 56, 45, 13, 79, 71, 12, 76, 41, 2, 31, 41, 61, 15, 1, 15, 78, 23, 66, 5, 33, 22, 16, 27, 27, 23, 78, 55, 45, 37, 62, 19, 42, 40, 14, 76, 66, 29, 50, 70, 48, 6, 54, 23, 62, 34, 4, 30, 64, 28, 51, 24, 21, 32, 16, 49, 34, 20, 21, 62, 31, 53, 55, 31, 50, 54, 22, 29, 54, 37, 5, 15, 14, 30, 27, 32, 14, 23, 2, 16, 45, 77, 49, 54, 28, 33, 65, 55, 24, 47, 9]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [59]:
type(word_freq2)

list

In [66]:
set2 = set(word_freq2)
type(set2)

set

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [72]:
print (set1.difference(set2))

{3, 7, 8, 10, 11, 17, 18, 25, 35, 43, 57, 58, 59, 60, 63, 68, 69, 72, 75, 80, 81, 82, 84, 85, 86, 87, 88, 89, 90, 92, 93, 94, 95, 96, 98}

In [76]:
set3 = set1.difference(set2)
print(set3)

{3, 7, 8, 10, 11, 17, 18, 25, 35, 43, 57, 58, 59, 60, 63, 68, 69, 72, 75, 80, 81, 82, 84, 85, 86, 87, 88, 89, 90, 92, 93, 94, 95, 96, 98}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [73]:
print (set2.difference(set1))

{2, 67, 4, 78, 19, 51, 21, 23, 30}

In [78]:
set4 = set2.difference(set1)
print(set4)

{2, 67, 4, 78, 19, 51, 21, 23, 30}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [85]:
set5 = set1.intersection(set2)
print(set5)

{1, 5, 6, 9, 12, 13, 14, 15, 16, 20, 22, 24, 27, 28, 29, 31, 32, 33, 34, 37, 39, 40, 41, 42, 45, 47, 48, 49, 50, 53, 54, 55, 56, 61, 62, 64, 65, 66, 70, 71, 73, 74, 76, 77, 79}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [86]:
len(set1)

80

In [87]:
len(set2)

54

In [88]:
len(set3)

35

In [89]:
len(set4)

9

In [90]:
len(set5)

45

In [92]:
if len(set1) > len(set2):
    print("Set 1 is bigger than Set2")
elif len(set1) > len(set3):
    print("Set 1 is bigger than Set 3")
elif len(set1) > len(set4):
    print("Set 1 is bigger than Set 4")
elif len(set1) > len(set5):
    print("Set 1 is bigger than Set 5")
else:
    print("Set 1 is not the biggest Sets")

Set 1 is bigger than Set2

In [94]:
list_x = [len(set1), len(set2), len(set3) , len(set4) , len(set5)]
print(list_x)

[80, 54, 35, 9, 45]

In [97]:
#TA I don't know if it is what you where looking for, 

list_x.sort()
print(list_x)

[9, 35, 45, 54, 80]

#### Create an empty set called `set6`.

In [100]:
# Your code here
set6 = set()
print (set6)

set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [102]:
set6.update(set3, set5)
print(set6)

{1, 3, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 20, 22, 24, 25, 27, 28, 29, 31, 32, 33, 34, 35, 37, 39, 40, 41, 42, 43, 45, 47, 48, 49, 50, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 79, 80, 81, 82, 84, 85, 86, 87, 88, 89, 90, 92, 93, 94, 95, 96, 98}

#### Check if `set1` and `set6` are equal.

In [103]:
# Your code here
set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [105]:
# Your code here
z = set1.issubset(set2)
print(z)

False

In [107]:
#TA I am not 100% if this is right 

y = set1.issubset(set3)
print(y)

False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [109]:
# Your code here
setXX = set3.union(set4)
print(setXX)

{2, 3, 4, 7, 8, 10, 11, 17, 18, 19, 21, 23, 25, 30, 35, 43, 51, 57, 58, 59, 60, 63, 67, 68, 69, 72, 75, 78, 80, 81, 82, 84, 85, 86, 87, 88, 89, 90, 92, 93, 94, 95, 96, 98}

In [110]:
setXXX = setXX.union(set5)
print(setXXX)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 27, 28, 29, 30, 31, 32, 33, 34, 35, 37, 39, 40, 41, 42, 43, 45, 47, 48, 49, 50, 51, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 84, 85, 86, 87, 88, 89, 90, 92, 93, 94, 95, 96, 98}

In [112]:
setYY = set1.union(set2)
print(setYY)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 27, 28, 29, 30, 31, 32, 33, 34, 35, 37, 39, 40, 41, 42, 43, 45, 47, 48, 49, 50, 51, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 84, 85, 86, 87, 88, 89, 90, 92, 93, 94, 95, 96, 98}

#### Using the `pop` method, remove the first element from `set1`.

In [113]:
# Your code here
print(set1)

{1, 3, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 20, 22, 24, 25, 27, 28, 29, 31, 32, 33, 34, 35, 37, 39, 40, 41, 42, 43, 45, 47, 48, 49, 50, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 79, 80, 81, 82, 84, 85, 86, 87, 88, 89, 90, 92, 93, 94, 95, 96, 98}

In [120]:
set1.pop()
print(set1)

{5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 20, 22, 24, 25, 27, 28, 29, 31, 32, 33, 34, 35, 37, 39, 40, 41, 42, 43, 45, 47, 48, 49, 50, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 79, 80, 81, 82, 84, 85, 86, 87, 88, 89, 90, 92, 93, 94, 95, 96, 98}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [123]:
list_to_remove = {1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99}

set_final = set1.difference(list_to_remove)

print(set_final)

{5, 6, 7, 8, 10, 12, 13, 14, 15, 16, 17, 18, 20, 22, 24, 25, 27, 28, 32, 33, 34, 35, 37, 40, 42, 43, 45, 47, 48, 50, 53, 54, 55, 56, 57, 58, 60, 62, 63, 64, 65, 66, 68, 70, 72, 73, 74, 75, 76, 77, 80, 82, 84, 85, 86, 87, 88, 90, 92, 93, 94, 95, 96, 98}