## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [36]:
# Your code here
sample_list_1 = random.sample(range(0,101), 80)
print(sample_list_1)

[5, 95, 26, 27, 80, 21, 38, 98, 66, 23, 0, 60, 75, 72, 100, 1, 43, 22, 32, 89, 59, 99, 42, 74, 47, 31, 73, 87, 7, 62, 81, 57, 65, 93, 48, 46, 35, 90, 9, 13, 63, 97, 11, 91, 76, 29, 4, 96, 78, 79, 41, 44, 85, 37, 16, 20, 10, 56, 6, 64, 8, 61, 71, 58, 39, 18, 14, 17, 52, 24, 69, 15, 88, 19, 12, 50, 34, 25, 28, 68]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [37]:
# Your code here
set1 = set(sample_list_1)
print(len(set1))

# The random.sample() functions return a non-repeated values list, as such, when we cast into a set the lenght remains the same

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [39]:
# Your code here
sample_list_2 = list()
for i in range(80):
    l=random.sample(range(0,101),1)
    sample_list_2.append(l.pop())
print(sample_list_2)

[22, 37, 60, 7, 87, 75, 22, 57, 7, 50, 19, 68, 22, 62, 18, 35, 89, 59, 85, 5, 4, 65, 27, 61, 62, 42, 11, 88, 37, 27, 75, 11, 86, 51, 79, 51, 58, 34, 38, 30, 49, 33, 96, 69, 14, 80, 17, 2, 29, 56, 42, 69, 15, 76, 88, 15, 97, 71, 36, 90, 46, 91, 50, 84, 74, 82, 76, 65, 35, 41, 7, 28, 64, 68, 53, 34, 51, 68, 15, 45]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [40]:
# Your code here
set2 = set(sample_list_2)
print(len(set2))
print(set2)

# This time, as we have created the sample list canceling the unique feature of the random.sample(), when we cast the list 
# into a set the length is reduced

57
{2, 4, 5, 7, 11, 14, 15, 17, 18, 19, 22, 27, 28, 29, 30, 33, 34, 35, 36, 37, 38, 41, 42, 45, 46, 49, 50, 51, 53, 56, 57, 58, 59, 60, 61, 62, 64, 65, 68, 69, 71, 74, 75, 76, 79, 80, 82, 84, 85, 86, 87, 88, 89, 90, 91, 96, 97}

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [45]:
# Your code here
set3 = set1.difference(set2)
print(set3)

{0, 1, 6, 8, 9, 10, 12, 13, 16, 20, 21, 23, 24, 25, 26, 31, 32, 39, 43, 44, 47, 48, 52, 63, 66, 72, 73, 78, 81, 93, 95, 98, 99, 100}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [46]:
# Your code here
set4 = set2.difference(set1)
print(set4)

{33, 2, 36, 45, 49, 82, 51, 84, 53, 86, 30}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [47]:
# Your code here
set5 = set1.intersection(set2)
print(set5)

{4, 5, 7, 11, 14, 15, 17, 18, 19, 22, 27, 28, 29, 34, 35, 37, 38, 41, 42, 46, 50, 56, 57, 58, 59, 60, 61, 62, 64, 65, 68, 69, 71, 74, 75, 76, 79, 80, 85, 87, 88, 89, 90, 91, 96, 97}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [54]:
# Your code here
# set3 has the values in set1 but not in set2, and set5 has the values both in set1 and set2, that amounts to the total
# elements in set1
print(len(set1) == len(set3)+len(set5))

# set4 has the values in set2 but not in set1, and set5 has the values both in set1 and set2, that amounts to the total
# elements in set2
print(len(set2) == len(set4)+len(set5))

True
True

#### Create an empty set called `set6`.

In [49]:
# Your code here
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [55]:
# Your code here
set6.update(set3)
set6.update(set5)

{0, 1, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 31, 32, 34, 35, 37, 38, 39, 41, 42, 43, 44, 46, 47, 48, 50, 52, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 68, 69, 71, 72, 73, 74, 75, 76, 78, 79, 80, 81, 85, 87, 88, 89, 90, 91, 93, 95, 96, 97, 98, 99, 100}

#### Check if `set1` and `set6` are equal.

In [56]:
# Your code here
print(set1 == set6)

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [58]:
# Your code here
print(set2.issubset(set1))
print(set3.issubset(set1))

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [65]:
# Your code here
set7 = set()
set8 = set()

set7 = set3.union(set4)
set7 = set7.union(set5)
set8 = set1.union(set2)

print(set7 == set8)

True

#### Using the `pop` method, remove the first element from `set1`.

In [70]:
# Your code here
list1 = list(set1)
list1.pop(0)
set1 = set(list1)

{0, 4, 5, 6, 7, 8, 10, 12, 13, 14, 15, 16, 17, 18, 20, 22, 23, 24, 25, 26, 27, 28, 32, 34, 35, 37, 38, 42, 43, 44, 46, 47, 48, 50, 52, 56, 57, 58, 60, 62, 63, 64, 65, 66, 68, 72, 73, 74, 75, 76, 78, 80, 85, 87, 88, 90, 93, 95, 96, 97, 98, 100}
{4, 5, 6, 7, 8, 10, 12, 13, 14, 15, 16, 17, 18, 20, 22, 23, 24, 25, 26, 27, 28, 32, 34, 35, 37, 38, 42, 43, 44, 46, 47, 48, 50, 52, 56, 57, 58, 60, 62, 63, 64, 65, 66, 68, 72, 73, 74, 75, 76, 78, 80, 85, 87, 88, 90, 93, 95, 96, 97, 98, 100}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [69]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for num in list_to_remove:
    if num in set1:
        set1.remove(num)

print(set1)

{0, 4, 5, 6, 7, 8, 10, 12, 13, 14, 15, 16, 17, 18, 20, 22, 23, 24, 25, 26, 27, 28, 32, 34, 35, 37, 38, 42, 43, 44, 46, 47, 48, 50, 52, 56, 57, 58, 60, 62, 63, 64, 65, 66, 68, 72, 73, 74, 75, 76, 78, 80, 85, 87, 88, 90, 93, 95, 96, 97, 98, 100}